/* MENUBAR*/
.topnav {/*Legger til bakgrunnsfarge på menubar */
    background-color: rgb(52, 178, 216);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;


    
  
}
.topnav a { /* Styling på lenkene*/
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 2rem;
    font-size: large;
    text-decoration:none;
    font-weight: bold;
    font-size: 1.3rem;
    
 
    
}
.topnav a:hover {/* Endre farge på lenken på der du er*/
    color: white;
    font-size: 1.3rem;

    

}
.topnav a.active {/* Fremhever siden du er på*/
    

}
.item1 { 
    grid-area: header;
    padding: 3rem;
}
.item2 { 
    grid-area: menu;   
    padding: 3rem;
}
.item3 { 
    grid-area: main;   
    padding: 3rem;
}
.item4 { 
    grid-area: right;  
    padding: 3rem; 
}

.grid-container {
  display: grid;
  grid-template-areas:
    'left left right right'
    'left left right right';
  gap: 0.7rem;
  background-color: rgb(52, 178, 216);
  margin: 1rem;
  color: rgb(218,245,255);
  font-family: 'Times New Roman', Times, serif;
}
