body{
  background-color: whitesmoke;
  /* skriver 0 i marg så bakgrunnsfargen til menyen gå helt ut til sidene*/
  margin-left: 0rem;
  margin-right: 0rem;
  margin-top: -1rem;
  margin-bottom: 0rem;
  /*bruker font family i ønsket rekkefølge, itilfelle enkelte fonter ikke er tilgjengelige for brukeren*/
  font-family: Arial, Helvetica, sans-serif;
}

/* MENUBAR*/
.topnav {/*Legger til bakgrunnsfarge på menubar */
    background-color: rgb(52, 178, 216);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  
}
.topnav a { /* Styling på lenkene*/
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 2rem;
    font-size: large;
    text-decoration:none;
    font-weight: bold;
    font-size: 1.3rem;
    
 
    
}
.topnav a:hover {/* Endre farge på lenken på der du er*/
    color: white;
    font-size: 1.3rem;

    

}
.topnav a.active {/* Fremhever siden du er på*/
    

}
.item1{grid-area: left;}
.item2{grid-area: picture2;}
.item3 { grid-area: right; }
.item4 { grid-area: picture4; }


.grid-container {
  display: grid;
  grid-template-areas:
    ' left left picture2 picture2'
    'right right picture4 picture4';
  gap: 10px;
 background-color: whitesmoke;
  padding: 10px;

}

.grid-container > div {
   background-color: whitesmoke;
  text-align: center;
    padding: 3rem ;
}

img{
  /*setter bredden og høyden til bildet til 50rem og 35rem. Vi bruker rem for å få en responsiv nettside.*/
    width: 30rem;
  
  }
footer {
  background-color: rgb(52, 178, 216);
  display: flex; 
  justify-content: space-around;
}

.text-content{
    font-size: 1.2rem;
}

.main-title{
    font-size: 2.2rem;
}

.sub-title{
    font-size: 2.2rem;
}


@media  screen and (max-width:1200px){
    .grid-container{
        display: block !important; /*makes the grid container display as a block on devices with screen width less than 1200px*/
    }
 
}
@media screen and (min-width:851px){
    .column-div {    
        float: left;
        width: 33%;
        text-align:center;
        column-gap: 5px;
        position: relative;
    }
    }
@media screen and (max-width:850px){
    .column-div{
        display: block;
        border: none;
        align-content: center;
        text-align: center;
        padding: 14px;
    }
    #lecture-div, #canteen-div{
        border: none; 
    }

}
